<%- include header_transparent %>

<main class="page-city">
    <section class="header">
        <div class="city-feature-image">
            <% imageurl = city.imageUrl;
                imageurl = typeof(imageurl) == "undefined" ? city.pois[0].imageUrl:imageurl;
                imageurl = imageurl == "" ? "/images/bg_parachute.jpg":imageurl;
                console.log(imageurl);
                %>
            <div class="feature-image-bg" style="background-image:url(<%=imageurl %>)"></div>
            <div class="text-feature-image">
                <p id="country"><%=city.country %></p>
                <h1><%=city.name %></h1>
            </div>
        </div>
    </section>
    <section class="city-attrations container clear">
        <h2>Explore <%=city.name %></h2>
        <ul class="feature-attrations">
            <% for(i=0; i<city.pois.length&&i<4; i++) { %>
            <a href="/poi/<%=city.pois[i]._id %>"><li class="feature-attration">
                <% imageurl = city.pois[i].imageUrl;
                imageurl = imageurl == "" ? "/images/bg_parachute.jpg":imageurl; %>
                <div class="attration-bg" style="background-image:url(<%=imageurl%>)"></div>
                <h4 class="attration-name"><%=city.pois[i].name %></h4>
            </li></a>
            <%}%>
        </ul>
    </section>
    <section class="city-posts container">
        <h2>See how people say</h2>
        
    </section>
</main>

<%- include footer %>