<%- include header %>

<div id="container" data-cs-t="deatails">
    <div class="row row-placeTop">
        <div class="wrapper">
            <div class="crumb">
                <div class="item"><a href="/mdd/" target="_blank">Destination</a><em>&gt;</em>
                </div>

                <div class="item">
                    <div class="drop">
                        <span class="hd"><a href="/travel-scenic-spot/mafengwo/21536.html" target="_blank"><%= city.country %><i></i></a></span>
                            <div class="bd">
                                <i class="arrow"><b></b></i>
                                    <div class="col">
                                        <h3>Hotspots</h3>
                                            <ul class="clearfix">
                                                <li><a href="#" target="_blank">Beijing</a></li>
                                                <li><a href="#" target="_blank">Shanghai</a></li>
                                                <li><a href="#" target="_blank">Taiwan</a></li>
                                                </ul>
                                    </div>
                                        <div class="more"><a href="#" target="_blank">&gt;&gt;More Destination</a></div>
                            </div>
                    </div>
                    <em>&gt;</em>
                </div>
                <div class="item">
                        <div class="drop">
                                <span class="hd"><a href="#"><%= city.name %><i></i></a></span>
                                <div class="bd">
                                    <i class="arrow"><b></b></i>
                                    <div class="col">
                                        <ul class="clearfix">
                                            <li><a href="#" target="_blank"><%= city.name %> Spots</a></li>
                                            <li><a href="#" target="_blank"><%= city.name %> Traveling Notes</a></li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                </div>

                <script language="JavaScript" type="text/javascript">
                    $(function () {
                        $('.drop').mouseenter(function(ev) {
                            var target = $(ev.currentTarget);
                            clearTimeout(target.data('hideTimer'));
                            target.addClass('open');
                            target.children('bd').fadeIn(200);
                        });
                        $('.drop').mouseleave(function(ev) {
                            var target = $(ev.currentTarget);
                            target.data("hideTimer", setTimeout(function() {
                                target.removeClass('open');
                                target.children('bd').fadeOut(200);
                            }, 200));
                        });
                    });
                </script>


                <div class="row row-primary">
                    <div class="wrapper">
                        <div class="screen clearfix">
                            <div class="r-main">
                                <a class="photo" href=<%= city.imageUrl %> target="_blank">
                                        <img style = "height: 768px; width:1024px;"src=<%= city.imageUrl %>>
                                            <div class="text">
                                                <span><%= city.name %></span>
                                            </div>
                                </a>
                            </div>
                            <div class="m-impress">
                                <div style=" padding-left: 150px; color: orange;">
                                    <h3 class="hd">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= city.name %> Impression</h3>
                                </div>
                                <div class="bd clearfix">
                                    <ul class="tag" style="height: 140px;overflow: hidden; padding-left: 50px; color: grey;">
                                    <a target="_blank">Good</a></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-summary row-bg">
                            <div class="wrapper">
                                <h2 class="title">General situation</h2>
                                    <div>
                                        <p style="display: none;">

                                        </p>
                                        <span id="mdd_poi_desc"><%= city.intro %>
                                        <br></span>
                                    </div>
                            </div>
                    </div>

                    <div class="row row-hotScenic row-bg" data-cs-p="热门景点">
                        <div class="wrapper">
                            <h2 class="title">Hot Spot</h2>
                            <div class="bd">
                                <%- include poiListInCity %>

                                <% poiListInCity(city.attractions) %>

                            </div>
                        </div>
                    </div>

                    <ul class="plan-type" style="list-style-type:none;
                        margin:6px;
                        padding:0;
                        overflow:hidden;">
                        <li style="float: left;">
                            <a href="#" class="tabcon"><%= city.name %> Travel Notes</a>
                        </li>
                        <li style="float: left;">
                            <a href="#" class="tabcon"><%= city.name %> Travel Plan</a>
                        </li>
                    </ul>

                    <div id="travel_notes_div">
                        <ul style="list-style-type: square">
                            <li><a href="#" class="travel_notes_link">travel note 1</a></li>
                            <li><a href="#" class="travel_notes_link">travel note 2</a></li>
                            <li><a href="#" class="travel_notes_link">travel note 3</a></li>
                            <li><a href="#" class="travel_notes_link">travel note 4</a></li>
                            <li><a href="#" class="travel_notes_link">travel note 5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include footer %>
