
<%- include header_transparent %>

<script>
$(document).ready(function () {
	// Full screen carousel
	var $item = $('#destCarousel .item');
	var $wHeight = $(window).height();
	$item.height($wHeight);
	$('.header').height($wHeight);
	$item.addClass('full-screen');
	$('#destCarousel .item > img').each(function() {
		var $src = $(this).attr('src');
		var $color = $(this).attr('data-color');
		$(this).parent().css({
			'background-image' : 'url(' + $src + ')',
			'background-color' : $color
		});
        $(this).remove();
	});
	// Random Initialized slide
	$(window).on('resize', function (){
		$wHeight = $(window).height();
		$item.height($wHeight);
		$('.header').height($wHeight);
	});
	// Transparent navbar
	$(window).scroll(onscroll = function () {
		var imageHeight = $("#destCarousel").height();
		if ($(window).scrollTop() > imageHeight * 0.8) {
			$('.navbar-fixed-top').removeClass("transparent");
		} else if ($(window).scrollTop() < imageHeight * 0.6) {
			$('.navbar-fixed-top').addClass("transparent");
		}
	});
	onscroll();
	$('.carousel').carousel({
		interval: 5000,
		pause: "false"
	});
    $('#destCarousel item').click(function(){
        location.href = $(this).data("url");
    });
    $('.dest-nav .nav-item a').click(function(){
        var target = "."+$(this).data("target");
        console.log(target);
        $(".nav-item.active").removeClass("active");
        $(".dest-group").fadeOut(function(){
            $(target).fadeIn(function(){
                $(this).addClass("active");
            });

            $(this).removeClass("active");
        });
        $(this).parent(".nav-item").addClass("active");
    });
});
</script>

<main class="page-dest">
    <section class="header">
        <div id="destCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
            <% for(i=0; i<cities.length; i++) { %>
                <div class="item<% if (i==0){%> active <%} %>" data-url="/city/<%=cities[i].path %>">
                    <img src="<%=cities[i].imageUrl %>" alt="<%=cities[i].name %>">
                    <p class="dest-city-name"><%=cities[i].name%></p>
                </div>
            <% } %>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#destCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#destCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div id="searchbar_div">
            <form class="seletive-search" role="search" action="/search" method="get">
                <input id="search_type" name="type" type="hidden" value="city">
                <div class="input-group" id="search">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-search btn-default dropdown-toggle" name="type" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            <span class="label-icon">City</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-value="city">
                                <a href="javascript:;">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                    <span class="label-icon">City</span>
                                </a>
                            </li>
                            <li data-value="note">
                                <a href="javascript:;">
                                <span class="glyphicon glyphicon-file"></span>
                                <span class="label-icon">Travel Note</span>
                                </a>
                            </li>
                            <li data-value="poi">
                                <a href="javascript:;">
                                <span class="glyphicon glyphicon glyphicon-pushpin"></span>
                                <span class="label-icon">Attraction</span>
                                </a>
                            </li>
                        
                        </ul>
                    </div>
                    <input type="text" class="form-control" name="q" placeholder="Where do you want to go?">
                    <div class="input-group-btn">
                        <input type="submit" class="btn btn-search btn-default" value="Search">
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="dest-nav container">
        <h2>Hot Destinations</h2>
        <nav class="dest-group-pills">
            <ul class="nav nav-pills">
                <li class="nav-item active"><a href="javascript:void(0)" data-target="dest-group-easia">East Asia</a>
                <li class="nav-item"><a href="javascript:void(0)" data-target="dest-group-sasia">Southeast Asia</a>
                <li class="nav-item"><a href="javascript:void(0)" data-target="dest-group-swasia">South Asia &amp; West Asia</a>
                <li class="nav-item"><a href="javascript:void(0)" data-target="dest-group-europeamerica">Europe &amp; America</a>
                <li class="nav-item"><a href="javascript:void(0)" data-target="dest-group-oceniaaffrica">Oceania &amp; Affrica</a>
            </ul>
        </nav>
        <div class="dest-group dest-group-easia active">
            <div class="list-group">
                <div class="list-group-item active">China</div>
                <a class="list-group-item" href="/city/china/beijing" target="_blank">Beijing</a>
                <a class="list-group-item" href="/city/china/shanghai" target="_blank">Shanghai</a>
                <a class="list-group-item" href="china/shaanxi-shanxi/xian" target="_blank">Xi'an</a>
                <a class="list-group-item" href="/city/china/hong-kong" target="_blank">Hong Kong</a>
                <a class="list-group-item" href="/dest/58ec95882876fe2e1e1e6786" target="_blank">Victoria Peak</a>
            </div>
            <div class="list-group">
                <div class="list-group-item active">Japan</div>
                <a class="list-group-item" href="/city/japan/tokyo" target="_blank">Tokyo</a>
                <a class="list-group-item" href="/city/japan/kansai/kyoto" target="_blank">Kyoto</a>
            </div>
        </div>

        <div class="dest-group dest-group-europeamerica">
            <div class="list-group">
                <div class="list-group-item active">Brazil</div>
                <a class="list-group-item" href="/city/brazil/rio-de-janeiro" target="_blank">Rio de Janeiro</a>
                <a class="list-group-item" href="/city/brazil/the-northeast/salvador" target="_blank">Salvador</a>
            </div>
            <div class="list-group">
                <div class="list-group-item active">USA</div>
                <a class="list-group-item" href="/city/usa/new-york-city" target="_blank">New York City</a>
                <a class="list-group-item" href="/city/usa/los-angeles" target="_blank">Los Angeles</a>
                <a class="list-group-item" href="/city/usa/san-francisco" target="_blank">San Francisco</a>
                <a class="list-group-item" href="/city/usa/chicago" target="_blank">Chicago</a>
                <a class="list-group-item" href="/city/usa/seattle" target="_blank">Seattle</a>
                <a class="list-group-item" href="/city/usa/washington-dc" target="_blank">Washington DC</a>
                <a class="list-group-item" href="/city/usa/boston" target="_blank">Boston</a>
            </div>
            <div class="list-group">
                <div class="list-group-item active">Italy</div>
                <a class="list-group-item" href="/city/italy/rome" target="_blank">Paris</a>
                <a class="list-group-item" href="/city/italy/venice" target="_blank">Venice</a>
                <a class="list-group-item" href="/city/italy/florence" target="_blank">Florance</a>
                <a class="list-group-item" href="/city/italy/milan" target="_blank">Milan</a>
            </div>
            <div class="list-group">
                <div class="list-group-item active">France</div>
                <a class="list-group-item" href="/city/france/paris" target="_blank">Rome</a>
                <a class="list-group-item" href="/city/france/provence/marseille" target="_blank">Marseille</a>
                <a class="list-group-item" href="/city/france/provence/avignon" target="_blank">Avignon</a>
            </div>
            <div class="list-group">
                <div class="list-group-item active">Spain</div>
                <a class="list-group-item" href="/city/spain/barcelona" target="_blank">Barcelona</a>
                <a class="list-group-item" href="/city/france/spain/madrid" target="_blank">Madrid</a>
            </div>
        </div>
        <div class="dest-group dest-group-oceniaaffrica">
            <div class="list-group">
                <div class="list-group-item active">Egypt</div>
                <a class="list-group-item" href="/city/egypt/cairo" target="_blank">Cairo</a>
                <a class="list-group-item" href="/city/egypt/red-sea-coast/hurghada" target="_blank">Hurghada</a>
            </div>
            <div class="list-group">
                <div class="list-group-item active">New Zealand</div>
                <a class="list-group-item" href="/city/new-zealand/auckland" target="_blank">Auckland Region</a>
                <a class="list-group-item" href="/city/new-zealand/wellington" target="_blank">Wellington</a>
            </div>
        </div>
    </div>
    </section>
</main>

<%- include footer %>
