<%- include header %>
<link rel="stylesheet" href="/stylesheets/notes.css">
<link rel="stylesheet" href="/stylesheets/note.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<section class="city_recommend">
	<h1 class="world_text">Travel Notes Recommandation</h1>
	<p class="w_text">See where people have visited and what they recommand</p>
</section>
<% for (index=0; index<noteList.length; index++){ %>
    <div class="pub-comment">
    <a herf="/<%= 'note/' + noteList[index]._id %>">
    <div class="input-group">
      <span class="input-group-addon"> <%= noteList[index].title %> </span>
      <input id="title" type="text" class="form-control" name="title" value="<%= noteList[index].author.name %>" disabled="disable">
    </div>
    <div class="form-group">
      <textarea class="form-control box" id="comment" name="text" rows="5" cols="30" disabled="disable">
        <%= noteList[index].body %>
      </textarea>
    </div>
  </a>
  </div>
<% } %>



<%- include footer %>
