<%- include header %>
<link rel="stylesheet" href="/stylesheets/notes.css">

<div class="notes">
  <ol class="lists">
    <% for(index=0;index<10;index++){ %>
    <li class="noteshow"><span class="titler">
      <%= noteList[index].title %></span><p class="des box">
        <%= noteList[index].body %></p>
        <p>like : <%= noteList[index].like_counts %></p>
    </li>
    <% } %>

  </ol>
</div>




<%- include footer %>

<!-- <%
// var notes = [
// 	{
// 		title: "Screw 3100",
// 		brief: "3100 is a suck",
// 		url: "/note/1",
// 		imageUrl: "",
// 		city: "Beijing",
// 		cityUrl: "/city/1",
// 		authorName: "Janzen Liu",
// 		authorUrl: "/user/1",
// 		likeCounts: 1895
// 	},
// 	{
// 		title: "Surveillance System Installed",
// 		brief: "In Star Trek why is warp speed the ultimate litmus test on galactic acceptance of a civilisation",
// 		url: "/note/2",
// 		imageUrl: "",
// 		city: "New York",
// 		cityUrl: "/city/2",
// 		authorName: "Jojo",
// 		authorUrl: "/user/2",
// 		likeCounts: 823
// 	},
// 	{
// 		title: "How do electrons flow in AC",
// 		brief: "Computers with integrated monitor (all-in-one form factor)",
// 		url: "/note/3",
// 		imageUrl: "",
// 		city: "London",
// 		cityUrl: "/city/3",
// 		authorName: "Jasmine Wong",
// 		authorUrl: "/user/3",
// 		likeCounts: 74
// 	},
// 	{
// 		title: "Lorem",
// 		brief: "Icons are not designed only for toolbars and navigation in Apple's OS X, iOS, and watchOS. They work perfectly almost everywhere",
// 		url: "/note/4",
// 		imageUrl: "",
// 		city: "Singapore",
// 		cityUrl: "/city/4",
// 		authorName: "Dick Tan",
// 		authorUrl: "/user/4",
// 		likeCounts: 943
// 	},
// ];
%> -->
