<%- include header %>
<form method="post" action="/note/comment">
  标题：<br />
  <input type="text" name="title" value="<%= note.title %>" disabled="disabled" /><br />
  正文：<br />
  <textarea name="text" rows="20" cols="100"><%= note.body %></textarea><br />
  <input type="submit" value="保存修改" />
</form>
<p><%= note.comments[0].author.name %></p>
<p><%= note.comments[0].content %></p>

<%- include footer %>
