<%- include header %>
<link rel="stylesheet" href="/stylesheets/notes.css">
<link rel="stylesheet" href="/stylesheets/note.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<section class="city_recommend">
	<h1 class="world_text">Travel Notes Recommandation</h1>
	<p class="w_text">See where people have visited and what they recommand</p>
</section>
<div class="pub-comment">
  <% for (index=0; index<noteList.length; index++){ %>
    <div class="input-group">
      <span class="input-group-addon"> <%= noteList[index].title %> </span>
      <input id="title" type="text" class="form-control" name="title" value="<%= noteList[index].author.name %>" disabled="disable">
    </div>
    <div class="form-group">
      <textarea class="form-control box" id="comment" name="text" rows="5" cols="30" disabled="disable">
        <%= noteList[index].body %>
      </textarea>
    </div>
  <% } %>
</div>


<%- include footer %>

<!-- <%
// var notes = [
// 	{
// 		title: "Screw 3100",
// 		brief: "3100 is a suck",
// 		url: "/note/1",
// 		imageUrl: "",
// 		city: "Beijing",
// 		cityUrl: "/city/1",
// 		authorName: "Janzen Liu",
// 		authorUrl: "/user/1",
// 		likeCounts: 1895
// 	},
// 	{
// 		title: "Surveillance System Installed",
// 		brief: "In Star Trek why is warp speed the ultimate litmus test on galactic acceptance of a civilisation",
// 		url: "/note/2",
// 		imageUrl: "",
// 		city: "New York",
// 		cityUrl: "/city/2",
// 		authorName: "Jojo",
// 		authorUrl: "/user/2",
// 		likeCounts: 823
// 	},
// 	{
// 		title: "How do electrons flow in AC",
// 		brief: "Computers with integrated monitor (all-in-one form factor)",
// 		url: "/note/3",
// 		imageUrl: "",
// 		city: "London",
// 		cityUrl: "/city/3",
// 		authorName: "Jasmine Wong",
// 		authorUrl: "/user/3",
// 		likeCounts: 74
// 	},
// 	{
// 		title: "Lorem",
// 		brief: "Icons are not designed only for toolbars and navigation in Apple's OS X, iOS, and watchOS. They work perfectly almost everywhere",
// 		url: "/note/4",
// 		imageUrl: "",
// 		city: "Singapore",
// 		cityUrl: "/city/4",
// 		authorName: "Dick Tan",
// 		authorUrl: "/user/4",
// 		likeCounts: 943
// 	},
// ];
%> -->
