<%- include header %>
<link rel='stylesheet' href='/stylesheets/profile.css'/>

<div class="main" style="position:relative; top:30px; margin-bottom:80px;">
    <div class="profilebanner">
    <div class="profile-tags_bar">
    <div class="profile-center">
    </div>
    </div>
</div>

    <div class="center clearfix">
        <div class="profile-side_bar">


<div class="MAvatar">
    <div class="MAvaImg">
        <img src="/images/edit_profile/anonymous.png" height="120" width="120" alt="Anonymous">
    </div>
    <div class="Name"><%= owner.username %></div>
    <div class="MAvaInfo MAvaMyInfo">
        <span class="Place" title="location">Live in: <%= owner.location %></span>
    </div>
    <div id="_j_profilearea" class="Profile">
        <a role="button" class="addBtn" href="/account/edit">Edit information</a>
    </div>
    <div class="More">
        <div class="Nums">
            <strong><%= owner.following_counts %></strong>
            <p>My following</p>
        </div>
        <div class="Nums">
            <strong><%= owner.follower_counts %></strong>
            <p>My follower</p>
        </div>
    </div>
</div>
<div class="form-group" style="margin-top:60px; margin-left:5%; width:90%">
  <textarea class="form-control box" id="comment" name="text" rows="5" cols="30" disabled="disable">
    <%= owner.introduction %>
  </textarea>
</div>
</div>

        <div class="content">
            <div class="profile-block main_links" style="height:120px;">
                <ul style="margin-top:20px">
                    <li><a href="/profile/post" target="_blank"><i class="write_note"></i><span>Write a note</span></a></li>
                    <li><a href="/wenda/" target="_blank"><i class="ask_expert"></i><span>Ask expert</span></a></li>
                    <li><a href="/profile/planmaking" target="_blank"><i class="add_footprint"></i><span>Add trip plan</span></a></li>
                    <li class="last"><a href="/together/" target="_blank"><i class="invite_friends"></i><span>Invite friends</span></a></li>
                </ul>
            </div>

        <div class="profile-info" id="_j_taskwrap">
            <div class="profile-tips">
                <p><strong><%= owner.username %></strong>，This is your homepage！</p>
                <p>Tripedia helps you plan your trips and share your experience with others.<br> Now start with Tripedia!</p>
            </div>
            <div class="personal_list">
                <ul>
                    <li>
                    <div class="personal_ico"><i class="ico_info"></i></div>
                    <div class="personal_word">
                        <p>Add information<br></p>
                    </div>
                    <div class="personal_btn">
                      <a href="/account/edit" class="btn btn-info btn-lg">
                          Add information
                      </a>
                    </div>
                    </li>
                    <li>
                        <div class="personal_ico"><i class="ico_stroll"></i></div>
                        <div class="personal_word">
                        <p>How others plan their trip?</p>
                    </div>
                        <div class="personal_btn">
                          <a href="/note" class="btn btn-info btn-lg">
                              See others trips
                          </a>
                    </div>
                    </li>
                    <li>
                        <div class="personal_ico"><i class="ico_daka"></i></div>
                        <div class="personal_word">
                        <p>I have a great plan!<br>Let me write it down.</p>
                    </div>
                        <div class="personal_btn">
                          <a href="/profile/planmaking" class="btn btn-info btn-lg">
                              Make a plan
                          </a>
                    </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="profile-block">
        <div class="profile-title">
            <h2>My travel notes</h2>
        </div>
        <div class="profile-holder">
            <div class="profile-container">
            <% for(i=0; i<user.travel_notes.length; i++) { %>
              <a href="/<%= 'note/' + owner.travel_notes[i]._id %>"><%=owner.travel_notes[0].title%></a>
              <a href="/note/<%= owner.travel_notes[i].title %>/edit" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-edit"></span>Edit</a>
            <% } %>
            </div>
        </div>
        </div>
            <div class="profile-block">
                <div class="profile-title">
                    <h2>My plans</h2>
                </div>
                <div class="profile-holder">
                  <div  class="profile-container">
                    <% if(plan.length>0){ %>
                    <a href="/<%= 'profile/plan/' + plan[plan.length-1]._id %>">
                      <p class="plan-text"><%=plan[plan.length-1].title%>
                       <span class="glyphicon glyphicon-tasks"></span></p>
                    </a>
                    <%}%>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>


</script>
<%- include footer %>
