<%- include header %>
<link rel="stylesheet" href="/stylesheets/searchresult.css">
<!-- show the results of seaching TravelNotes -->
<main class="page-search">
  <% if (posts.length==0) { %>
  <div class="noresult">

  <h1 class="middle">We are sorry we cannot find it</h1>
  </div>
  <% } else { %>
<div class="container">
    <h2>Search results</h2>
    <% for (index=0;index<posts.length;index++) {%>
    <div class="result-container">
      <a href="/note/<%= posts[index]._id %>">
        <h4 class="result"><%=
          posts[index].title
           %></h4>
           Author: <%= posts[index].author.name%>
        <p class="result-box"><%= posts[index].body %></p>
      </a>
    </div>
    <% } %>
</div>
  <% } %>


</main>

<% include footer %>
